:root{
    --fontColor:rgb(139,122,210);
    --purpleColor: rgb(78,56,160);
}
@font-face{
    font-family:c64;
    src:url("C64_Pro-STYLE.ttf");
}

body{
    font-family: c64;
    font-size:32px;
    background-color:rgb(139,122,210);
    margin:50px 50px;
    text-transform: uppercase;
}

.container{
    background-color:var(--purpleColor);
    color:var(--fontColor);
    padding:15px;
    height:calc(100vh - 120px);
    overflow-wrap: break-word;
    overflow: hidden;
}

.container p{
    text-align: center;
}
.container p:nth-child(3){
    text-align: left;
    margin-bottom:5px;
}

.container textarea{
    width:100%;
    height:calc(100% - 200px);
    background-color:transparent;
    outline: none;
    border:none;
    padding:0px;
    color:var(--fontColor);
    text-transform: uppercase;
    font-family: c64;
    font-size: 1em;
    caret-color: rgb(193, 186, 223);
    resize:none;
}

.container span{
    margin:-.1em;
    display: inline-block;
    text-shadow: -2px -1px 2px var(--fontColor), 1px 1px 2px var(--fontColor);
}